*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, sans-serif;
}
.head-info{
    width: 100%;
    height: 100px;
    box-shadow: 1px 1px 1px black;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}
.head-container{
    display: flex;
    height: 80px;
    margin: auto;
    width: 95%;
}
.head-container > .head-left{
    flex-basis: 45%;
    display: flex;
    align-items: center;
}
.fa-solid {
    cursor: pointer;
    color: #0050FF;
    margin-top: 5px;
}
.head-container > .head-left > h2 {
    cursor: pointer;
    margin: 0px 10px;
}
.head-container > .head-left > span {
    cursor: pointer;
    margin-top: 12px;
}
.head-right{
    flex-basis: 50%;
}
#menu-icon{
    display: none;
}
.head-right > .navbar > ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    height: 90px;
    text-wrap: nowrap;
}
.head-right > .navbar > ul > li > a {
    text-decoration: none;
    color: black;
}
.head-right > .navbar > ul > li > a:hover{
    color: #0050FF; 
}

/*! About Me Section */

.hero {
    width: 95%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h2 .highlight {
    color: #00a8ff;
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .hero-images {
    position: relative;
    max-width: 40%;
    border-radius: 50%;
  }
  
  .hero-images img {
    width: 250px;
    border-radius: 50%;
  }
  
  .redes {
    width: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    transition: all 0.3s ease-in-out;
  }
  
  .redes a svg {
    width: 30px;
    fill: #ffffff;
  }
  
  .redes .discord {
    background-color: rgb(0, 60, 255);
  }
  
  .redes .github {
    background-color: rgb(24, 22, 22);
  }
  
  .redes .twitter {
    background-color: #33BBFF;
  }
  
  .redes .instagram {
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #F56040);
  }
  
  .redes a:hover {
    transform: scale(1.1);
  }
  
/* ! Resume Section */
.resume-content{
    border-top: 10px solid rgb(255, 255, 255);
    width: 100%;
    background: #fff;
}
.resume-container{
    margin: 10px 0;
    width: 95%;
    margin: auto;
    background: #F4ECE6;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading > h2{
    margin: 40px 10px;
}
.content{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.content > h2{
    flex-basis: 50%;
}
.download-CV > button {
    width: 175px;
    border: none;
    padding: 10px 20px;
    border-radius: 19px;
    background: #0050FF;
    font-weight: 700;
    color: #fff;
    margin: 20px;
}
.experience-content{
    padding: 20px;
    width: 65%;
    display: flex;
    background: #FFF;
    border: 1px solid black;
    margin: 10px auto;
} 
.experience-content > .experience-heading{
    color: #0050FF;
    font-weight: 700;
    letter-spacing: 1px;
    flex-basis: 200%;
    margin: auto;
}
.experience-content > .experience-para{
    text-align: justify;
}
.educational-content{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: auto;
    padding: 20px;
}
.education-content{
    padding: 20px;
    width: 65%;
    display: flex;
    background: #FFF;
    margin: 10px auto;
    justify-content: center;
    text-align: center;
}
/* ! Skills */
.Skills-content{
    border-top: 10px solid rgb(255, 255, 255);
    width: min(1200px, 95vw);
    padding: 20px;
    margin: auto;
}
.skills-container{
    width: 95%;
    margin: auto;
}
.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    background-color: #F4ECE6;
}
.slider .list{
    display: flex;
    padding: 20px;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
    text-wrap: nowrap;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 100%;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.slider .list .item img{
    width: 100%;
    height: 70%;
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}
.slider[reverse="true"] .item{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}

/* ! Project */

.carousel-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carousel {
    /* padding: 20px; */
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.top-content h1, img{
    padding: 10px 0px;
}
.bottom-content h2, h3, p{
   margin: 20px 0px;
}
.project-cards {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0 0 0 / 8%);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Button hover effects */
.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0,0,0,0.8);
}
/* From Uiverse.io by 212004ALJI */ 
.button,.button::after {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  .git-button::after{
    content: 'Git Repo';
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  .project::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'Project';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  .button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
  button:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
  
  .button:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
  
  

/* ! Contacts */
.contact{
    padding: 5%;
}
.form {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #F4ECE6;
    border-radius: 20px;
    margin: auto;
}
.form-heading {
    text-align: center;
    margin: 2em;
    color: #090400;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
}
.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
}
.sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    transition: all ease-in-out 0.3s;
}
.sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: #0050FF;
    color: #000;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.form-card2 {
    border-radius: 0;
    transition: all 0.2s;
}
.form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
/* ! footer */
footer {
    padding: 20px;
    width: 95%;
    display: flex;
    margin: auto;
    align-items: center;
}
footer > .left-footer{
    flex-basis: 80%;
}
.right-footer{
    display: flex;
    flex-direction: column;
}
.right-footer  >  span{
  margin-left: 25px;
}
.right-footer  >  .social-icons > ul{
    border: none;
    display: flex;
    list-style: none;
    height: 55px;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.right-footer > .social-icons > ul > li > a{
    font-size: 1.5rem;
    color: blue;
}
.right-footer > .social-icons > ul > li > a:hover{
    color: black;
}

/* Media Queries */
@media (max-width: 1200px) {
    .head-container {
        width: 90%;
    }
    .about-content > .left-about {
        margin: -600px 0 0 250px;
    }
    .about-content > .right-about {
        margin: -600px 0 0 0;
    }
}

@media (max-width: 992px) {
    .head-right > ul {
        gap: 15px;
        justify-content: center;
    }
    .content, .experience-content, .educational-content, .education-content {
        width: 90%;
    }
    .projects {
        padding: 5%;
    }
    .projectcards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .head-info {
        height: auto;
    }
     #menu-icon{
        display: block;
        z-index: 999;
        font-size: 1.75rem;
    }
    .fa-bars:before, .fa-navicon:before {
        position: relative;
        z-index: 1;
    }
    .head-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .left{
        flex-basis: 0%;
    }
    .head-right{
        align-content: center;
        flex-basis: 0%;
    }
    .navbar {
        position: absolute;
        top: 0%;
        left: 50%;
        width: 50%;
        padding: 1rem 3%;
        background: #Fff;
        display: none;
        z-index: 0;
    }
    .navbar.active {
        background: #fff;
        display: block;
        height: 100vh;
        box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
    }
    .navbar.active > ul {
        height: 50vh;
        margin-top: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        gap: 30px;
        /* border: 1px dashed black; */
    }
    .navbar.active > ul > li {
        /* border: 1px dashed black; */
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .hero {
        flex-direction: column-reverse;
        align-items: center;
      }
      .hero-content, .hero-images {
        max-width: 100%;
      }
      .redes {
        bottom: 10px;
        justify-content: center;
        flex-direction: row;
      }
      h1{
          font-size: 3rem;
      }
      .hero-content, .hero-images {
        text-align: center;
    }
    .resume-content {
        padding: 20px;
    }
    .experience-content{
        display: flex;
        flex-direction: column;
    }
    .experience-content > .experience-heading{
      padding: 20px 0px;
      width: 100%;
      text-align: center;
      margin: 0px 5%;
    }
    .Skills-content {
        height: auto;
    }
    .form {
        width: 90%;
    }
     .hero {
      flex-direction: column-reverse;
      align-items: center;
    }
    .hero-content, .hero-images {
      max-width: 100%;
    }
    .redes {
      bottom: 10px;
      justify-content: center;
      flex-direction: row;
    }
    h1{
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    *{
        font-size: 96.5%;
    }

    .resume-container{
     font-size: 1rem;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .content > button{
        font-size: 0.5rem;
    }
    .form {
        width: 100%;
        padding-inline: 1em;
    }
    .sendMessage-btn {
        width: 100%;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer > .left-footer, .right-footer {
        width: 100%;
        text-align: center;
    }
    footer > .right-footer > span{
        display: none;
    }
   
}

